@import 'primeicons/primeicons.css';

:root {
  --font-family:
    -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text', system-ui, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
}

/* Global: alle Standard-Tags */
html,
body {
  font-family: var(--font-family);
}

/* PrimeNG: alle Komponenten */
.p-component {
  font-family: var(--font-family);
}

/* PrimeNG Buttons schwarz */
.p-button.p-component {
  background: #111 !important;
  border-color: #111 !important;
  color: #fff !important;
}

.p-button.p-component:enabled:hover {
  background: #272626 !important;
  border-color: #272626 !important;
}
