/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
:root {
  --font-family:
    -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text', system-ui, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;

  .p-component {
    font-family: var(--font-family);
  }

  .p-button.p-component {
    background: #111 !important;
    border-color: #111 !important;
    color: #fff !important;
  }

  .p-button.p-component:enabled:hover {
    background: #272626 !important;
    border-color: #000 !important;
  }
}
