__pycache__/
*.py[cod]
*$py.class
/.venv
/venv
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
weather.sqlite3
*.sqlite3
/data/dly/
/data/stations.json
/data/ghcnd-stations.txt
.env
.DS_Store
# Data files
*.csv.gz
*.csv
/data/s3_csv/