__pycache__/
*.py[cod]
*$py.class
/.venv
/venv
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
weather.sqlite3
*.sqlite3
# (Handled by blanket /data/ rule below)
.env
.DS_Store
# Data files
*.csv.gz
*.csv
/data/

# Coverage and Temporary Files
.coverage
dest.txt
.pytest_cache/
test_protocol.txt
test_temps*.py