.border {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 4px;
}

.container {
  min-height: 90dvh;
  display: grid;
  gap: 12px;

  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'settings chart'
    'settings table';
}

.settings {
  grid-area: settings;
  overflow: auto;
}

.content {
  display: contents;
} /* main soll nur “durchreichen” */
